.projects-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 9rem;
  justify-content: center;
  align-items: center;
}

.project-container {
  margin-top: -10rem;
  justify-content: center;
  align-items: center;
  &:first-child {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .projects-container {
    gap: 1rem;
    padding: 3rem 0 3rem 2rem;
  }

  .project-container {
    margin-top: -10rem;
    &:first-child {
      margin-top: 1rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project-container {
    margin-top: 1rem;
    &:first-child {
      margin-top: 1rem;
    }
  }
}
