.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow-x: hidden;
  padding-bottom: 30vh;
}

.projects-row {
  display: flex;
  flex-direction: row;
  padding: 5rem 2rem 2rem 2rem;
  overflow-x: auto;
  width: 100vw;

  &::-webkit-scrollbar {
    display: block;
    max-width: 25px;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background: #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #454545;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px rgba(97, 97, 97, 0.7), inset -2px -2px 2px rgba(97, 97, 97, 0.7);
  }
}

@media screen and (min-width: 768px) {
  .projects-row {
    padding-top: 15rem;
    padding-left: 7rem;
    width: calc(100vw - 270px);
  }
}
