.project-card {
  min-height: 400px;
  min-width: 300px;
  padding: 1rem;
  background: linear-gradient(85deg, #434343, #262626);
  box-shadow: -2rem 0 3rem -2rem #000;
  color: white;
  transition: all 0.2s;
  animation: scaleUp 0.4s linear;
  border-radius: 1rem;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(:first-child) {
    margin-left: -200px;
  }
  &:hover {
    transform: translateX(-50px) rotate(-5deg);
  }
  &:hover:first-child {
    transform: translateX(0) rotate(-5deg);
  }
  &:hover ~ .project-card {
    transform: translateX(160px);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
