.project-card {
  min-height: 450px;
  max-height: 450px;
  min-width: 300px;
  max-width: 300px;
  padding: 1rem 2rem;
  background: linear-gradient(85deg, #434343, #262626);
  box-shadow: -2rem 0 3rem -2rem #000;
  color: white;
  transition: all 0.2s;
  animation: scaleUp 0.4s linear;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(:first-child) {
    margin-left: -200px;
  }
  &:hover {
    transform: translateX(-50px) rotate(-5deg);
  }
  &:hover:first-child {
    transform: translateX(-20px) rotate(-5deg);
  }
  &:hover ~ .project-card {
    transform: translateX(160px);
  }
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scaleUp {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .project-card {
    min-height: 500px;
    max-height: 500px;
    min-width: 350px;
    max-width: 350px;

    &:hover {
      transform: translateX(-50px) rotate(-5deg);
    }
  }
}

@media screen and (min-width: 1024px) {
  .project-card {
    &:not(:first-child) {
      margin-left: -220px;
    }
    &:hover:first-child {
      transform: translateX(-70px) rotate(-5deg);
    }
    &:hover {
      transform: translateX(-50px) rotate(-5deg);
    }
  }
}
