@use '/src/scss';
.navbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    &:nth-child(n) {
      margin-bottom: 2rem;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-container {
    a {
      color: scss.$background-color-light;
      &:active {
        color: orangered;
      }
      &:visited {
        color: scss.$text-color-light;
      }
    }
  }
}
