@use '/src/scss';
.navbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;

  a {
    margin-top: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .navbar-container {
    a {
      padding-bottom: 0.2rem;
      width: min-content;
      margin: 1rem 0;
      color: scss.$background-color-light;

      background-size: 0 2px, 0 100%, 0% 2px;
      background-position: top center, top center, bottom center;
      &:active {
        color: orangered;
      }
      &:visited {
        color: scss.$text-color-light;
      }
      &::after {
        display: block;
        content: '';
        border-bottom: solid 1px orangered;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      &:hover {
        color: coral;
        animation: border-up 1s linear;
        transform-origin: left;
        // margin-bottom: calc(1rem - 1px);
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
