@use '/src/scss';
.navbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;

  a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .navbar-container {
    a {
      padding-bottom: 0.2rem;
      width: min-content;
      margin: 2rem 0;
      color: scss.$background-color-light;
      &:active {
        color: orangered;
      }
      &:visited {
        color: scss.$text-color-light;
      }
      &:hover {
        color: coral;
        border-bottom: 1px solid coral;
        margin-bottom: calc(2rem - 1px);
      }
    }
  }
}
