.project-techs-container {
  min-height: 80px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.project-tech {
  margin-left: 0.2rem;
  font-size: 0.75rem;
  border: 1px solid white;
  padding: 0.1rem 0.3rem;
  border-radius: 2rem;
  text-shadow: 1px 1px 1px black;
}
