@use '/src/scss';

.sidebar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  width: 220px;
  background-color: #ccc;
  opacity: 0.9;
  padding: 10rem 1rem;
  height: 100vh;
  z-index: 10;
  border-bottom-right-radius: 3px;

  &::before {
    content: ' ';
    z-index: -1;
    background-color: rgb(224, 224, 224);
    opacity: 0.8;
    width: 220px;
    left: 0;
    top: 0;
    position: absolute;
    height: 100vh;
    filter: blur(7px);
  }

  a {
    color: scss.$text-color-dark;
    &:visited {
      color: scss.$text-color-dark;
    }
    &:active {
      color: orangered;
    }
  }
}

.sidebar-in {
  animation: trans 1.2s cubic-bezier(0.02, 0.5, 0.03, 1) forwards;
}

.sidebar-out {
  animation: transback 1s cubic-bezier(0.2, 0.2, 0.1, 0.8) forwards;
}

@keyframes transback {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400px);
  }
}

@keyframes trans {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0);
  }
}
