.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-icon {
  fill: #333;
}

@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: space-around;
    padding: 0 2rem;
  }
  .footer-section {
    position: relative;
    &:hover {
      &::after {
        content: ' ';
        position: absolute;
        top: -0.25rem;
        left: -0.25rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.5rem;
        background-color: #454545;
        z-index: -1;
      }
    }
  }
  .footer-icon {
    fill: #ccc;
    height: 2rem;
    width: 2rem;
  }
}
