@use '/src/scss';

.hamburger-button-container {
  position: fixed;
  right: 1rem;
  top: 1rem;
  padding: 0;
  z-index: 10;

  button {
    border: none;
    display: block;
    background-color: transparent;

    div {
      background-color: black;
      height: 0.3rem;
      width: 2rem;
      transition: transform 0.2s ease-in-out;

      &:nth-child(-n + 2) {
        margin-bottom: 0.2rem;
      }
    }
    &:focus,
    &:active {
      outline: 1px dotted black;
    }
  }
}

.hamburger-div-1 {
  &.open {
    transform: rotateZ(-35deg) translate3d(-5px, 5px, 0) scaleY(0.8);
  }
}
.hamburger-div-2 {
  &.open {
    visibility: hidden;
  }
}
.hamburger-div-3 {
  &.open {
    transform: rotateZ(35deg) translate3d(-6px, -6px, 0) scaleY(0.8);
  }
}
