.project-links-container {
  display: flex;
  font-size: 0.7rem;
  justify-content: left;
  height: 1.8rem;
  margin: 1rem 0;

  div {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    background-color: transparent;
    color: white;

    &:hover {
      animation: button-fill-anim 300ms linear forwards;
    }
  }
}

@keyframes button-fill-anim {
  0% {
    background-color: transparent;
    color: white;
  }

  100% {
    background-color: white;
    color: #333;
  }
}
