@use '/src/scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  background-color: scss.$background-color-dark;
  color: scss.$text-color-light;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: block;
    max-width: 25px;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background: #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #454545;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px rgba(97, 97, 97, 0.7), inset -2px -2px 2px rgba(97, 97, 97, 0.7);
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: scss.$background-color-light;
  }
}
